<h2>Listado de pedidos</h2>

<!-- @if (pedidos.length > 0) {
<table>
	<thead>
		<tr>
			<th>Numero</th>
			<th>Cliente</th>
			<th>Fecha</th>
			<th>Estado</th>
			<th>Cantidad</th>
			<th>Costo</th>
		</tr>
	</thead>
	<tbody>
		@for (pedido of pedidos; track pedido.id) {
		<tr>
			<td>{{ pedido.num || '-' }}</td>
			<td>{{ pedido.cliente || '-' }}</td>
			<td>{{ pedido.fecha || '-' }}</td>
			<td>{{ pedido.estado || '-' }}</td>
			<td>{{ pedido.cant ?? '-' }}</td>
			<td>{{ pedido.costo ?? '-' }}</td>
		</tr>
		}
	</tbody>
</table>
} @else {
<p>No hay pedidos para mostrar.</p>
} -->

<div class="card">
            <div class="font-semibold text-xl mb-4">Listado de Pedidos</div>
            <p-table
                #dt1
                [value]="pedidos"
                dataKey="id"
                [rows]="25"
                [loading]="loading"
                [rowHover]="true"
                [showGridlines]="true"
                [paginator]="true"
                [globalFilterFields]="['cliente', 'num']"
                responsiveLayout="scroll"
            >
                <ng-template #caption>
                    <div class="flex justify-between items-center flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                        <p-iconfield iconPosition="left" class="ml-auto">
                            <p-inputicon>
                                <i class="pi pi-search"></i>
                            </p-inputicon>
                            <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Buscar" />
                        </p-iconfield>
                    </div>
                </ng-template>
                <ng-template #header>
                    <tr>
                        <th style="min-width: 12rem">
                            <div class="flex justify-between items-center">
                                Id
                                <p-columnFilter type="text" field="id" display="menu" placeholder="Buscar por Id"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 12rem">
                            <div class="flex justify-between items-center">
                                Cliente 
                                <p-columnFilter type="text" field="cliente" display="menu" placeholder="Buscar por Cliente"></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th style="min-width: 14rem">
                            <div class="flex justify-between items-center">
                                Agent
                                <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                    <ng-template #header>
                                        <div class="px-3 pt-3 pb-0">
                                            <span class="font-bold">Agent Picker</span>
                                        </div>
                                    </ng-template>
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-multiselect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name" styleClass="w-full">
                                            <ng-template let-option #item>
                                                <div class="flex items-center gap-2 w-44">
                                                    <img [alt]="option.label" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}" width="32" />
                                                    <span>{{ option.name }}</span>
                                                </div>
                                            </ng-template>
                                        </p-multiselect>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Fecha
                                <p-columnFilter type="date" field="fecha" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 10rem">
                            <div class="flex justify-between items-center">
                                Numero 
                                <p-columnFilter type="numeric" field="numero" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                        <!-- <th style="min-width: 12rem">
                            <div class="flex justify-between items-center">
                                Status
                                <p-columnFilter field="status" matchMode="equals" display="menu">
                                    <ng-template #filter let-value let-filter="filterCallback">
                                        <p-select [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{ 'min-width': '12rem' }">
                                            <ng-template let-option #item>
                                                <span [class]="'customer-badge status-' + option.value">{{ option.label }}</span>
                                            </ng-template>
                                        </p-select>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th> -->
                        <th style="min-width: 12rem">
                            <div class="flex justify-between items-center">
                                Cantidad
                                <p-columnFilter type="numeric" field="cant" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                        <th style="min-width: 8rem">
                            <div class="flex justify-between items-center">
                                Costo
                                <p-columnFilter type="numeric" field="costo" display="menu" ></p-columnFilter>
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-pedidos>
                    <tr>
                        <td>
                            {{ pedidos.id }}
                        </td>
                        <td>
                            <div class="flex items-center gap-2">
                                <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + customer.country.code" width="30" /> -->
                                <span>{{ pedidos.cliente }}</span>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="flex items-center gap-2">
                                <img [alt]="customer.representative.name" src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}" width="32" style="vertical-align: middle" />
                                <span class="image-text">{{ customer.representative.name }}</span>
                            </div>
                        </td> -->
                        <td>
                            {{ pedidos.fecha | date: 'MM/dd/yyyy' }}
                        </td>
                        <td>
                            {{ pedidos.num}}
                        </td>
                        <td>
                            {{ pedidos.cant }}
                        </td>
                        <td>
                            {{ pedidos.costo | currency: 'USD' : 'symbol' }}
                        </td>
                        <!-- <td>
                            <p-tag [value]="customer.status.toLowerCase()" [severity]="getSeverity(customer.status.toLowerCase())" styleClass="dark:bg-surface-900!" />
                        </td>
                        <td>
                            <p-progressbar [value]="customer.activity" [showValue]="false" [style]="{ height: '0.5rem' }" />
                        </td>
                        <td class="text-center">
                            <p-tag [value]="customer.status.toLowerCase()" [severity]="getSeverity(customer.status.toLowerCase())" styleClass="dark:bg-surface-900!" />
                        </td> -->
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template #loadingbody>
                    <tr>
                        <td colspan="8">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>